<section class="card" id="{{id}}">
    <div class="card-head">
        Posted by {{user.username}} at {{format_date updatedAt}}
    </div>
    <div class="card-body">
        {{comment}}
    </div>
</section>