<section class="card" id="{{id}}">
    <div class="card-head">
        Posted by {{user.user.dataValues.username}} at {{format_date updatedAt}}
    </div>
    <div class="card-body">
        {{post}}
    </div>
</section>