<link rel="stylesheet" href="/css/view-post-comment.css">
<div class="new-post-box">
    <h2>Create a New Post:</h2>
    <form id="new-post-form">
        <label for="title">Title:</label><br>
        <input type="text" id="title" class="title" name="title"><br>
        <label for="new-post">Content:</label><br>
        <textarea id="new-post" name="new-post"></textarea>
        <input type="submit" class="submit">
    </form>
</div>
<script src="/js/createPost.js"></script>