<div class="new-post-box">
    <h3>Create a New Post:</h3>
    <form id="new-post-form">
        <textarea id="new-post"></textarea>
        <input type="submit" class="submit">
    </form>
</div>
<script src="/js/newPost.js"></script>