<section class="dashboard">
    <h2 class="dashboard-head">Dashboard</h2>
    <p class="subtitle">Checkout all the posts you've made here!</p>
    <div class="posts">
        {{#each posts}}
        {{> post_details }}
        {{/each}}
    </div>
</section>