<section class="dashboard">
    <h3 class="dashboard-head">Post Dashboard for {{user.username}}:</h3>
    <div class="posts">
        {{#each posts}}
        {{> post_details }}
        {{/each}}
    </div>
</section>