<section class="dashboard">
    <h2 class="dashboard-head">Home</h2>
    <p class="subtitle">Find posts from everyone here!</p>
    <div class="posts">
        {{#each posts}}
        {{> post_details }}
        {{/each}}
    </div>
</section>