<div class="new-post-box">
    <div class="posts">
        {{> view_post_details }}
    </div>
    <h3>Leave a comment</h3>
    <form id="new-comment-form">
        <textarea id="new-comment"></textarea>
        <input type="submit" class="submit">
    </form>
</div>
<script src="/js/viewPostComment.js"></script>