/* Basic Styling for all pages */
:root{
    --dark: #2d3142;
    --medium-dark: #4f5d75;
    --middle: #bfc0c0;
    --medium-light: #ef8354;
    --light: #ffffff;

    background-color: var(--light);
}
h2{
    font-family: 'Bebas Neue', cursive;
    font-size: 54px;
    text-align: center;
    color: var(--medium-light);
    margin-top: 3%;
    margin-bottom: 0%;
}
.subtitle{
    text-align: center;
    font-size: 24px;
}

/* Styling for navbar */
span{
    color: var(--medium-light);
}
.nav-bar{
    background-color: var(--dark);
    color: white;
    display: flex;
    padding-left: 3%;
    padding-right: 3%;
    justify-content: space-between;
}
.nav-bar h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 48px;
    margin-top: 0.8%;
    margin-bottom: 0.8%;
}
/* Styling for navbar menu */
.nav-bar ul{
    display: flex;
    width: 30%;
    margin-top: 0.6%;
    margin-bottom: 0.6%;
    padding-left: 0px;
    text-align: center;
    list-style-type: none;
}
.nav-bar ul li{
    margin: 4%;
}
.nav-bar ul li:hover{
    cursor: pointer;
    color: var(--medium-light);
}

/* Styling for footer */
footer{
    background-color: var(--dark);
    color: white;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 4%;
}
footer h4{
    text-align: center;
    margin-bottom: 0%;
}
footer a{
    margin: 1%;
    text-decoration: none;
    color: white;
}